body {
  background-color: #f5f1ea;
  font-size: 18px;
}

button, .button {
  cursor: pointer;
  border: 2px solid #822000;
  padding: 10px;
  font-weight: bold; 
  background-color: #EBE1AD;
  border-radius: 15px;
  box-shadow: 0 0 5px #979AA4;
}

a {
  text-decoration-color: #822000;
  color: black;
}

h1 a {
  color: #822000;
  text-decoration: none;
}

a:hover {
  color: #822000;
}

.main-footer-wrapper {
  display: flex;
  align-items: center;
  flex-flow: column;
}

.aria-announcements {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.main {
  display: flex;
  align-items: center;
  flex-flow: column;
  padding-top: 44px;
  width: 100%;
}

.main__error   {
  padding-top: 0px;
}

.main-title {
  margin-top: 40px;
  color: #822000;
  text-align: center;
}

.sub-title {
  text-align: center;
}

.main-title__short {
  margin-bottom: 0px;
}

.form--input {
  border: 2px solid #822000;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 5px #979AA4;
  width: 100%;
  min-width: 0;
}

.form--label {
  margin-bottom: 5px;
  font-size: 16px;
}

.form--label__error {
  font-weight: bold;
  color: red;
}

.hidden {
  display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Battle toolbar */
.battle-toolbar {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #822000;
  border-bottom: 2px solid #822000;
  height: 50px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ebe2d3;
  position: fixed;
  top: 0;
  z-index: 1;
}

/*
 * Remove sticky bar bahviour for landscape screens bigger than 600px.
 * On screen keyboards and the sticky bar leave a very small viewport.
 */
@media only screen and (max-width: 600px) and (orientation: landscape) {
  .main {
    padding-top: 0px;
  }

  .battle-toolbar {
    position: relative;
  }
}

.battle-toolbar--stat {
  display: flex;
  align-items: center;
  flex-flow: column;
  font-weight: bold;
  color: #822000;
  margin-top: 2px;
  max-width: 25%;
}

/* Remove most unimportant battle bar info for screens smaller than 768px */
@media only screen and (max-width: 768px) {
  .battle-toolbar--stat__extra2 {
    display: none;
  }

  .battle-toolbar--stat {
    max-width: 33%;
  }
}

/* Remove second-most unimportant battle bar info for screens smaller than 600px */
@media only screen and (max-width: 600px) and (orientation: portrait) {
  .battle-toolbar--stat__extra1 {
    display: none;
  }

  .battle-toolbar--stat {
    max-width: 50%;
  }
}

.battle-toolbar--stat-value {
  font-weight: normal;
  color: black;
  text-transform: capitalize;
  text-overflow: ellipsis;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.battle-toolbar--button {
  padding: 4px;
  height: 40px;
  margin-top: 5px;
  display: grid;
}

.battle-toolbar--button__option {
  margin-top: 25px;
}

.battle-toolbar--button__disabled {
  background-color: transparent;
  cursor: auto;
  border: 2px dashed #822000;
}

.battle-toolbar--options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
}

.battle-toolbar--options-dropdown {
  border-bottom: 2px solid #822000;
  border-left: 2px solid #822000;
  border-right: 2px solid #822000;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 5px 5px #979AA4;
  padding: 10px 10px;
  background: #ebe2d3;
  margin-top: 10px;
}

/* Input */

.input--form {
  width: 100%;
  grid-column: span 8;
  display: flex;
  flex-direction: column;
}

.input--number {
  grid-column: span 4;
}

.input-wrapper {
  display: flex;
  border: 2px solid #822000;
  border-radius: 15px;
  background: #EBE1AD;
  box-shadow: 0 0 5px #979aa4;
  height: 40px;
}

.input {
  width: 100%;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  border: none;
  padding: 0 5px;
}

.input__button-right {
  border-right: 2px solid #822000;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input__button-right-disabled {
  border-right: 2px dotted #822000;
}

.input__button-left {
  border-left: 2px solid #822000;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input__button-left-disabled {
  border-left: 2px dotted #822000;
}

.input--submit {
  padding: 5px;
  background: transparent;
  background: #EBE1AD;
  border: none;
  box-shadow: none;
}

.input--submit__left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input--submit__right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input--submit__disabled {
  cursor: default;
  background: #f5f1ea;
}

.input__error {
  border: 2px solid red;
}

/* Creature toolbar */

.creature-toolbar {
  grid-gap: 22px;
  grid-row-gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15px);
  grid-auto-rows: 1fr;
  width: 100%;
}

.creature-toolbar--select {
  background-color: white;
  box-sizing: border-box;
  display: block;
}

.creature-toolbar--button {
  padding: 4px;
  display: flex;
  margin-top: 22px;
  grid-column: span 2;
  padding-left: 10px;
}

.creature-toolbar--button__dead {
  background-color: lightgrey;
}

.creature-toolbar--dropdown {
  -webkit-appearance: none;
  cursor: pointer;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  height: 44px;
}

@media only screen and (max-width: 768px) {
  .creature-toolbar {
    justify-content: center;
  }
}

/*
 * Ensure the first and last rows of the creature toolbar are centered
 * on the smallest portrait screens.
 */
@media only screen and (max-width: 436px) and (orientation: portrait) {
  .creature-toolbar--button {
    grid-column: 2 / span 2;
  }

  .creature-toolbar--last {
    grid-column: 3 / span 4;
  }
}

/* Create creature form */

.create-creature-form {
  width: 80%;
  margin-top: 20px;
  justify-content: center;
  grid-gap: 22px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15px);
}

.create-creature-form--multiplier-wrapper {
  display: flex;
  width: 100%;
  grid-column: span 4;
  align-items: center;
}

.create-creature-form--multiplier-symbol {
  margin-right: 5px;
  margin-top: 18px;
  font-weight: 700;
}

.create-creature-form--multiplier-wrapper input {
  font-weight: 700;
}

.create-creature-form--item__submit {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  justify-content: flex-end;
} 

.create-creature-form--item__tall {
  margin-top: -18px;
}

.create-creature-form--submit {
  height: 44px;
  padding: 4px;
  grid-column: span 2;
}

@media only screen and (max-width: 1175px) {
  .create-creature-form {
    width: 100%;
  }
}

/*
 * Ensure create creature form is centered on multiple rows on small screens
 */
@media only screen and (max-width: 825px) {
  .create-creature-form {
    grid-template-columns: repeat(6, 25px);
    grid-row-gap: 15px;
    grid-column-gap: 60px;
  }

  .create-creature-form--item__text {
    grid-column: 2 / span 4;
  }

  .create-creature-form--item__number {
    grid-column: 2 / span 4;
  }

  .create-creature-form--multiplier-wrapper {
    grid-column: 2 / span 2;
    margin-left: 40px;
  }

  .create-creature-form--item__multiplier {
    grid-column: 2 / span 2;
  }

  .create-creature-form--item__submit {
    margin-left: 10px;
  }

  .create-creature-form--item__multiplier .form--label {
    text-align: center;
  }

  .create-creature-form--item__text .form--label {
    text-align: center;
  }

  .create-creature-form--item__number .form--label {
    text-align: center;
  }
  
  .create-creature-form--item__tall {
    margin-top: 0;
  }

  .create-creature-form--submit {
    grid-column: 4 / span 2;
    width: 60px;
  }
}

/* Creatures */

.creature-list {
  width: 80%;
  margin-bottom: 40px;
}

.creature-wrapper {
  border-top: 10px double #822000;
  border-bottom: 10px double #822000;
  border-left: 1px solid #822000;
  border-right: 1px solid #822000;
  box-shadow: 0 0 5px #979AA4;
  border-radius: 15px;
  margin: 60px 0 10px 0;
  padding: 10px;
  background-color: #EBE1AD;
}

.creature-wrapper__active {
  border: 4px solid #822000;
}

.creature-title {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

/* Ensure the creature boxes take up 100% of the screen width for smaller screens. */
@media only screen and (max-width: 768px) {
  .creature-list {
    width: 100%;
  }

  .creature-wrapper {
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  .creature-wrapper__active {
    border-left: none;
    border-right: none;
  }
}

.creature-wrapper__dead {
  background-color: lightgrey;
}

.creature-header {
  margin-top: 0;
  margin-bottom: 0;
  padding-top: 8px;
}

.creature-expander-button {
  border: none;
  box-shadow: none;
  padding: 0px;
  display: flex;
}

.creature-expander-button__disabled {
  cursor: auto;
}

.creature-expander-icon {
  margin-left: 10px;
}

.creature-name {
  font-weight: bold;
  font-size: 28px;
  color: #822000;
  text-align: left;
  text-transform: capitalize;
  background: transparent;
  height: 35px;
}

@media only screen and (max-width: 768px) {
  .expanded-creature--name {
    white-space: unset;
    overflow: unset
  };
}

.expanded-creature--status {
  margin-top: 4px;
  margin-bottom: 35px;
}

.expanded-creature--stat {
  margin-bottom: 10px;
  color: #822000;
}

.expanded-creature--remove-button {
  max-width: 20%;
  padding: 4px;
  height: 43px;
}

.expanded-creature--confirm-remove-button {
  max-width: 20%;
  padding: 4px;
  height: 43px;
  min-width: 10%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.expanded-creature--separator {
  background-image: linear-gradient(to left, rgba(255,0,0,0), #822000);
  height: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 85%;
}

@media only screen and (max-width: 768px) {
  .expanded-creature--separator {
    width: 100%;
  }
}

.expanded-creature--columns__wide {
  column-count: 2;
}

.expanded-creature--columns__normal {
  column-count: 1;
}

.expanded-creature--columns {
  margin-bottom: 15px;
}

@media only screen and (max-width: 768px) {
  .expanded-creature--columns__wide {
    column-count: 1;
  }
}

.expanded-creature--columns > * {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

/* Allow more room for buttons in creature box on smaller screen sizes. */
@media only screen and (max-width: 600px) {
  .expanded-creature--confirm-remove-button {
    max-width: 40%;
  }
}

.collapsed-creature {
  width: 100%;
}

.collapsed-creature--status {
  display: flex;
  margin: 4px 0 4px 0;
  color: black;
  font-style: italic;
}

.collapsed-creature--status__margin {
  margin-left: 5px;
}

.collapsed-creature--name__dead {
  text-decoration: line-through wavy;
  text-decoration-color: black;
}

.collapsed-creature--notes {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 2px;
  max-width: 45%;
}

/* Creature note list */

.creature-note-list {
  width: 75%;
}

.creature-note-list--item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
}

.creature-note-list--label {
  font-size: 22px;
  color: #822000;
  border-bottom: 1px solid #822000;
  width: 85%;
  margin-bottom: 10px;
}

@media only screen and (max-width: 768px) {
  .creature-note-list--label {
    width: 100%;
  }
}

.creature-note-list--note {
  margin-top: 10px;
  color: black;
  font-style: italic;
}

.creature-note-list--note::first-letter {
  text-transform: uppercase;
}

.creature-note-list--button {
  margin-right: 15%;
  margin-left: 5px;
  padding: 4px;
  display: flex;
}

@media only screen and (max-width: 768px) {
  .creature-note-list--button {
    margin-right: 0;
  }
}

.creature-note-list--timer {
  margin-left: 10px;
  white-space: nowrap;
}

.creature-title-button {
  padding: 4px;
  display: flex;
  margin-left: 10px;
}

/* Health points */

.health-points--fine {
  color: #004D00;
}

.health-points--damaged {
  color: black;
}

.health-points--critical {
  color: #822000;
}

/* Footer */

.footer-text {
  font-size: 16px;
  padding: 10px;
  width: 80%;
}


@media only screen and (max-width: 768px) {
  .footer-text {
    width: auto;
  }
}

/* Hide keyboard shortcuts from devices unlikely to have a physical keyboard */ 
@media only screen and (max-width: 1024px) {
  .footer-text--shortcuts {
    display: none;
  }
}

/* Errors */

.error-bar {
  width: 100%;
  display: flex;
  position: fixed;
  top: 61px;
  background: red;
  padding: 10px 0;
  border-top: 2px solid #822000;
  border-bottom: 2px solid #822000;
  justify-content: space-between;
  align-items: flex-start;
}

/*
 * Remove sticky bar bahviour for landscape screens bigger than 600px.
 * On screen keyboards and the sticky bar leave a very small viewport.
 */
@media only screen and (max-width: 600px) and (orientation: landscape) {
  .error-bar {
    position: inherit;
    width: inherit;
  }
}

.error-bar--errors {
  padding-left: 10px;
  margin: 8px 0;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.error-bar--error {
  margin-bottom: 10px;
  word-break: break-word;
}

.error-bar--error__last {
  margin-bottom: 0;
}

.error-bar--dismiss {
  padding: 4px;
  height: 40px;
  width: 40px;
  border: 2px solid black;
  margin-right: 10px;
}
