body {
  margin: 0;
  padding: 0;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f5f1ea;
  font-size: 18px;
}

input {
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 18px;
}

button, .button {
  cursor: pointer;
  border: 2px solid #822000;
  font-weight: bold; 
  background-color: #EBE1AD;
  border-radius: 15px;
  box-shadow: 0 0 5px #979AA4;
  padding: 0px;
  height: 44px;
  min-height: 44px;
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.button__disabled {
  background-color: transparent;
  cursor: auto;
  border: 2px dashed #822000;
}

.button__help {
  height: auto;
  width: auto;
  margin: 0;
  margin-top: 16px;
  padding: 4px 8px 4px 2px;
  border: none;
  box-shadow: none;
  background-color: transparent;
  font-size: 16px;
}

.button__help:hover,
.button__help:focus {
  padding: 2px 6px 2px 0;
  background-color: #EBE1AD;
  border: 2px solid #822000;
  box-shadow: 0 0 5px #979aa4;
  outline: none;
}

a {
  text-decoration-color: #822000;
  color: black;
}

h1 {
  font-family: "IM Fell Great Primer SC";
  font-variant: small-caps;
}

h1 a {
  color: #822000;
  text-decoration: none;
}

a:hover {
  color: #822000;
}

.main-footer-wrapper {
  padding-top: 68px;
  display: flex;
  align-items: center;
  flex-flow: column;
}

.aria-announcements {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.main {
  display: flex;
  align-items: center;
  flex-flow: column;
  width: 100%;
}

.main__error   {
  padding-top: 0px;
}

.main-title {
  margin-top: 20px;
  color: #822000;
  text-align: center;
}

.sub-title {
  text-align: center;
}

.main-title__short {
  margin-bottom: 0px;
}

.form--input {
  border: 2px solid #822000;
  padding: 10px;
  border-radius: 15px;
  box-shadow: 0 0 5px #979AA4;
  width: 100%;
  min-width: 0;
}

.form--label {
  margin-bottom: 5px;
  font-size: 16px;
}

.form--label__error {
  font-weight: bold;
  color: red;
}

.hidden {
  display: none;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

input[type="number"] {
    -moz-appearance: textfield;
}

/* Battle toolbar */
.battle-toolbar {
  display: flex;
  justify-content: space-around;
  border-top: 2px solid #822000;
  border-bottom: 2px solid #822000;
  height: 54px;
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #ebe2d3;
  position: fixed;
  top: 0;
  z-index: 2;
  box-shadow: 0 0 5px #979aa4;
}

/*
 * Remove sticky bar bahviour for landscape screens bigger than 600px.
 * On screen keyboards and the sticky bar leave a very small viewport.
 */
@media only screen and (max-width: 600px) and (orientation: landscape) {
  .main-footer-wrapper {
    padding-top: 0px;
  }

  .battle-toolbar {
    position: relative;
  }
}

.battle-toolbar--stat {
  display: flex;
  align-items: center;
  flex-flow: column;
  font-weight: bold;
  color: #822000;
  margin-top: 2px;
  max-width: 25%;
}

/* Remove most unimportant battle bar info for screens smaller than 825px */
@media only screen and (max-width: 825px) {
  .battle-toolbar--stat__extra2 {
    display: none;
  }

  .battle-toolbar--stat {
    max-width: 33%;
  }
}

/* Remove second-most unimportant battle bar info for screens smaller than 300px */
@media only screen and (max-width: 300px) and (orientation: portrait) {
  .battle-toolbar--stat__extra1 {
    display: none;
  }

  .battle-toolbar--stat {
    max-width: 50%;
  }
}

.battle-toolbar--stat-value {
  font-weight: normal;
  color: black;
  text-transform: capitalize;
  text-overflow: ellipsis;
  text-align: center;
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
}

.battle-toolbar--button {
  margin-top: 5px;
}

.battle-toolbar--button__option {
  margin-top: 25px;
}

.battle-toolbar--options-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 40px;
}

.battle-toolbar--options-dropdown {
  border-bottom: 2px solid #822000;
  border-left: 2px solid #822000;
  border-right: 2px solid #822000;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  box-shadow: 0 5px 5px #979AA4;
  padding: 10px 10px;
  background: #ebe2d3;
  margin-top: 10px;
}

/* Input */

.input--form {
  width: 100%;
  grid-column: span 8;
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 825px) {
  .input--form {
    grid-column: span 6;
  }
}

.input--number {
  grid-column: span 4;
}

.input-wrapper {
  display: flex;
  border: 2px solid #822000;
  border-radius: 15px;
  box-shadow: 0 0 5px #979aa4;
  height: 40px;
}

.input {
  width: 100%;
  height: 100%;
  background: white;
  border-radius: 15px;
  overflow: hidden;
  border: none;
  padding: 0 5px;
}

.input__disabled {
  background: transparent;
}

.input__button-right {
  border-right: 2px solid #822000;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input__button-right-disabled {
  border-right: 2px dotted #822000;
}

.input__button-left {
  border-left: 2px solid #822000;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input__button-left-disabled {
  border-left: 2px dotted #822000;
}

.input--submit {
  padding: 5px;
  background: #EBE1AD;
  border: none;
  box-shadow: none;
  margin: 0;
  height: 40px;
  min-height: 40px;
}

.input--submit__left {
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.input--submit__right {
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.input--submit__disabled {
  cursor: default;
  background: #f5f1ea;
}

.input__error {
  border: 2px solid red;
}

/* Creature toolbar */

@keyframes creature-toolbar-page1-fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes creature-toolbar-page2-fadein {
  from { opacity: 0; }
  to { opacity: 1; }
}

.creature-toolbar {
  grid-gap: 22px;
  grid-row-gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15px);
  grid-auto-rows: 1fr;
  animation-duration: 400ms;
  animation-timing-function: ease-in-out;
}

.creature-toolbar__page-1 {
  animation-name: creature-toolbar-page1-fadein;
}

.creature-toolbar__page-2 {
  animation-name: creature-toolbar-page2-fadein;
}

.creature-toolbar--select {
  background-color: white;
  box-sizing: border-box;
  display: block;
}

.creature-toolbar--button {
  margin-top: 27px;
  grid-column: span 2;
}

.creature-toolbar--button__navigation {
  border: none;
  background: none;
  box-shadow: none;
}

.creature-toolbar--button__dead {
  background-color: lightgrey;
}

.creature-toolbar--dropdown {
  -webkit-appearance: none;
  cursor: pointer;
  grid-column: span 4;
  display: flex;
  flex-direction: column;
  height: 44px;
}

@media only screen and (max-width: 825px) {
  .creature-toolbar {
    margin-left: 5px;
  }
}

.creature-toolbar--notes-wrapper {
  position: relative;
}

.creature-toolbar--notes .input {
  cursor: pointer;
}

.creature-toolbar--notes__open .input-wrapper {
  border-radius: 15px 15px 0 0;
  box-shadow: 0 5px 10px #1a1a1b;
}

.creature-toolbar--notes__open .input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.creature-toolbar--notes__open .input--submit {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.creature-toolbar--notes-dropdown {
  border-width: 0 2px 2px 2px;
  border-color: #822000;
  border-style: solid;
  border-radius: 0 0 15px 15px;
  box-shadow: 0 5px 10px #1a1a1b;
  margin-top: 0;
  list-style-type: none;
  background: white;
  padding: 0;
  position: absolute;
  top: 71px;
  width: inherit;
  box-sizing: border-box;
  z-index: 1;
  max-height: 225px;
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-color: #822000 white;
}

.creature-toolbar--notes-dropdown::-webkit-scrollbar {
  width: 12px;
}

.creature-toolbar--notes-dropdown::-webkit-scrollbar-track {
  background: white;
  border-radius: 0 0 15px 0;
}
.creature-toolbar--notes-dropdown::-webkit-scrollbar-thumb {
  background-color: #822000;
  border-radius: 0 15px 15px 0;
  border: 3px solid white;
}

.creature-toolbar--notes-dropdown-expander {
  border: none;
  background: none;
  box-shadow: none;
  display: inline;
  height: auto;
  min-height: auto;
}

.creature-toolbar--notes-dropdown-group {
  width: 100%;
  display: flex;
  cursor: pointer;
  border-bottom: 2px solid #822000;
  height: 40px;
}

.creature-toolbar--notes-dropdown-group:last-child {
  border-bottom: 0;
}

.creature-toolbar--notes-dropdown-group:last-child .creature-toolbar--notes-dropdown-button {
  border-bottom-right-radius: 15px;
  border-bottom: 0px;
}

.creature-toolbar--notes-dropdown-item {
  width: 100%;
  padding: 5px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.creature-toolbar--notes-dropdown-item:hover {
  background: #EBE1AD;
}

.creature-toolbar--notes-dropdown-item__focused {
  background: #EBE1AD;
}

.creature-toolbar--notes-dropdown-group:last-child .creature-toolbar--notes-dropdown-item {
  border-bottom-left-radius: 15px;
}

.creature-toolbar--notes-dropdown-button {
  border-radius: 0;
}

.new-creature-toolbar {
  grid-gap: 15px;
  grid-row-gap: 10px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 10px);
  grid-auto-rows: 1fr;
  margin-left: 10px;
}

@media only screen and (max-width: 825px) {
  .new-creature-toolbar {
    grid-gap: 18px;
  }

  .new-creature-toolbar-button__text svg {
    display: none;
  }
}

@media only screen and (min-width: 825px) {
  .new-creature-toolbar-button {
    border: none;
    box-shadow: none;
    background-color: transparent;
  }
}

.new-creature-toolbar-button {
  grid-column: span 2;
}

.new-creature-toolbar-button:hover,
.new-creature-toolbar-button:focus {
  background-color: #EBE1AD;
  border: 2px solid #822000;
  outline: none;
  box-shadow: 0 0 5px #979aa4;
}

.new-creature-toolbar-button__text:hover,
.new-creature-toolbar-button__text:focus {
  padding: 3px 10px;
}

.new-creature-toolbar-button__text {
  width: auto;
  grid-column: span 4;
  display: flex;
  padding: 5px 0;
  flex-direction: column;
  height: auto;
}

/* Create creature form */

.create-creature-form {
  width: 80%;
  margin-top: 20px;
  justify-content: center;
  grid-gap: 22px;
  display: grid;
  grid-template-columns: repeat(auto-fit, 15px);
}

.create-creature-form--multiplier-wrapper {
  display: flex;
  width: 100%;
  grid-column: span 4;
  align-items: center;
}

.create-creature-form--multiplier-symbol {
  margin-right: 5px;
  margin-top: 26px;
  font-weight: 700;
}

.create-creature-form--multiplier-wrapper input {
  font-weight: 700;
}

.create-creature-form--item__submit {
  display: flex;
  flex-direction: column;
  grid-column: span 2;
  justify-content: flex-end;
} 

.create-creature-form--item__tall {
  margin-top: -18px;
  line-height: 20px;
}

.create-creature-form--submit {
  grid-column: span 2;
}

@media only screen and (max-width: 1175px) {
  .create-creature-form {
    width: 100%;
  }
}

/*
 * Ensure create creature form is centered on multiple rows on small screens
 */
@media only screen and (max-width: 825px) {
  .create-creature-form {
    grid-template-columns: repeat(6, 25px);
    grid-row-gap: 15px;
    grid-column-gap: 60px;
  }

  .create-creature-form--item__text {
    grid-column: 2 / span 4;
  }

  .create-creature-form--item__number {
    grid-column: 2 / span 4;
  }

  .create-creature-form--multiplier-wrapper {
    grid-column: 2 / span 2;
    margin-left: 40px;
  }

  .create-creature-form--item__multiplier {
    grid-column: 2 / span 2;
  }

  .create-creature-form--item__submit {
    margin-left: 10px;
  }

  .create-creature-form--item__multiplier .form--label {
    text-align: center;
  }

  .create-creature-form--item__text .form--label {
    text-align: center;
  }

  .create-creature-form--item__number .form--label {
    text-align: center;
  }
  
  .create-creature-form--item__tall {
    margin-top: 0;
  }

  .create-creature-form--submit {
    grid-column: 4 / span 2;
  }
}

/* Creatures */

.creature-list {
  width: 80%;
  margin-bottom: 40px;
}

.creature-wrapper {
  border-top: 10px double #822000;
  border-bottom: 10px double #822000;
  border-left: 1px solid #822000;
  border-right: 1px solid #822000;
  box-shadow: 0 0 5px #979AA4;
  border-radius: 15px;
  margin: 60px 0 10px 0;
  padding: 10px;
  box-sizing: border-box;
}

.creature-wrapper__active {
  border-top: 10px solid #822000;
  border-bottom: 10px solid #822000;
}

/* Ensure the creature boxes take up 100% of the screen width for smaller screens. */
@media only screen and (max-width: 825px) {
  .creature-list {
    width: 100%;
  }

  .creature-wrapper {
    border-left: none;
    border-right: none;
    border-radius: 0;
  }

  .creature-wrapper__active {
    border-left: none;
    border-right: none;
  }
}

@media only screen and (max-width: 280px) {
  .creature-wrapper {
    padding: 10px 0;
  }
}

.creature-title {
  display: flex;
}

.creature-header {
  margin-top: 0;
  margin-bottom: 0;
}

.creature-header--controls {
  display: flex;
}

.creature-title-button {
  padding: 4px;
  margin-left: 10px;
}

/* Drop creature title tools onto newline on larger screens when multi-column creature is expanded */
@media only screen and (min-width: 825px) {
  .creature-title__multicolumn {
    flex-direction: column;
  }

  .creature-title__multicolumn .creature-title-button:first-child {
    margin-left: 0;
  }

  .creature-header--controls__multicolumn {
    margin-top: 5px;
  }
}

/* Drop creature title tools onto a newline on smaller screens. */
@media only screen and (max-width: 600px) {
  .creature-title {
    flex-direction: column;
  }

  .creature-title-button:first-child {
    margin-left: 0;
  }

  .creature-header--controls {
    margin-top: 5px;
  }
}

.creature-expander-button {
  border: none;
  box-shadow: none;
  width: auto;
  height: auto;
  align-items: baseline;
}

.creature-expander-button__disabled {
  cursor: auto;
}

.creature-expander-icon {
  margin-left: 10px;
}

.creature-name {
  font-family: "IM Fell Great Primer SC";
  font-variant: small-caps;
  font-weight: bold;
  font-size: 28px;
  color: #822000;
  text-align: left;
  text-transform: capitalize;
  background: transparent;
  align-items: center;
}

@media only screen and (max-width: 825px) {
  .expanded-creature--name {
    white-space: unset;
    overflow: unset
  };
}

.expanded-creature--status {
  margin-top: 5px;
}

.expanded-creature--stat {
  margin-bottom: 10px;
  color: #822000;
}

.expanded-creature--confirm-remove-button {
  width: auto;
  padding: 6px;
  padding-right: 10px;
}

.expanded-creature--separator {
  background-image: linear-gradient(to left, rgba(255,0,0,0), #822000);
  height: 4px;
  margin-bottom: 20px;
  margin-top: 20px;
  width: 85%;
}

@media only screen and (max-width: 825px) {
  .expanded-creature--separator {
    width: 100%;
  }
}

.creature--columns__wide {
  column-count: 2;
}

.creature--columns__normal {
  column-count: 1;
}

.creature--columns {
  margin-bottom: 15px;
}

@media only screen and (max-width: 825px) {
  .creature--columns__wide {
    column-count: 1;
  }
}

.creature--columns > * {
  -webkit-column-break-inside: avoid;
  page-break-inside: avoid;
  break-inside: avoid;
}

.collapsed-creature {
  width: 100%;
}

.collapsed-creature--status {
  display: flex;
  margin-top: 5px;
  color: black;
  font-style: italic;
}

/* A bit more margin when creature title tools are on a newline */
@media only screen and (max-width: 600px) {
  .collapsed-creature--status {
    margin-top: 10px;
  }
}

.collapsed-creature--status__margin {
  margin-left: 5px;
}

.collapsed-creature--name__dead {
  text-decoration: line-through wavy;
  text-decoration-color: black;
}

.collapsed-creature--notes {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 2px;
  max-width: 45%;
}

/* Creature note list */

.creature-note-list {
  width: 75%;
}

.creature-note-list--item {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-bottom: 10px;
}

.creature-note-list--label {
  font-size: 22px;
  color: #822000;
  border-bottom: 1px solid #822000;
  width: 85%;
  margin-bottom: 10px;
}

@media only screen and (max-width: 825px) {
  .creature-note-list--label {
    width: 100%;
  }
}

.creature-note-list--note {
  margin-top: 10px;
  color: black;
  font-style: italic;
}

.creature-note-list--note::first-letter {
  text-transform: uppercase;
}

.creature-note-list--button {
  margin-right: 15%;
  margin-left: 5px;
  padding: 4px;
}

@media only screen and (max-width: 825px) {
  .creature-note-list--button {
    margin-right: 0;
  }
}

.creature-note-list--timer {
  margin-left: 10px;
  white-space: nowrap;
}

/* Health points */

.health-points--fine {
  color: #004D00;
}

.health-points--damaged {
  color: black;
}

.health-points--injured {
  color: #822000;
}

/* Footer */

.footer-text {
  font-size: 16px;
  padding: 10px;
  width: 80%;
}


@media only screen and (max-width: 825px) {
  .footer-text {
    width: auto;
  }
}

/* Errors */

.error-bar {
  width: 100%;
  display: flex;
  position: fixed;
  top: 66px;
  background: red;
  padding: 10px 0;
  border-top: 2px solid #822000;
  border-bottom: 2px solid #822000;
  justify-content: space-between;
  align-items: flex-start;
  box-shadow: 0 0 5px #979aa4;
  z-index: 3;
}

/*
 * Remove sticky bar bahviour for landscape screens bigger than 600px.
 * On screen keyboards and the sticky bar leave a very small viewport.
 */
@media only screen and (max-width: 600px) and (orientation: landscape) {
  .error-bar {
    position: inherit;
    width: inherit;
  }
}

.error-bar--errors {
  padding-left: 10px;
  margin: 8px 0;
  font-weight: bold;
  display: flex;
  flex-direction: column;
  width: 75%;
}

.error-bar--error {
  margin-bottom: 10px;
  word-break: break-word;
}

.error-bar--error__last {
  margin-bottom: 0;
}

.error-bar--dismiss {
  border: 2px solid black;
  margin-right: 10px;
}

/* Rules search bar */

@keyframes rules-search-bar-entrance {
  0% { height: 0; opacity: 0; }
  75% { height: 108px; opacity: 0; }
  100% { height: 108px; opacity: 1; }
}

.rules-search-bar-wrapper {
  width: 100%;
  border-bottom: 2px solid #822000;
}

.rules-search-bar {
  height: 108px;
  padding-top: 20px;
  display: flex;
  justify-content: center;
  width: 100%;
}

.rules-search-bar__entrance-animation {
  animation-duration: 200ms;
  animation-timing-function: ease-in-out;
  animation-name: rules-search-bar-entrance;
  animation-fill-mode: both;
}

.dnd-beyond-search {
  width: 50%;
}

@media only screen and (max-width: 825px) {
  .dnd-beyond-search {
    width: auto;
    min-width: 280px;
  }

  .dnd-beyond-search .form--label {
    text-align: center;
  }
}

@media only screen and (min-width: 1565px) {
  .dnd-beyond-search {
    max-width: 785px;
  }
}
