.buymeacoffee__mobileonly {
  display: none;
}

@media only screen and (max-width: 825px) {
  .buymeacoffee__mobileonly {
    display: block;
  }

  .buymeacoffee__desktoponly {
    display: none;
  }
}