<!DOCTYPE html>
<html lang="en">
  <head profile="http://www.w3.org/2005/10/profile">
    <meta charset="utf-8" />
    <link rel="shortcut icon" 
          type="image/png" 
          href="https://dndbattletracker.com/favicon.png">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preload" as="style" href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Open+Sans&display=swap" crossorigin>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=IM+Fell+Great+Primer+SC&family=Open+Sans&display=swap">
    <link rel="manifest" href="dndbattletracker.webmanifest" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <meta name="theme-color" content="#000000" />
    <meta name="description" content="D&D Battle Tracker is an initiative and combat tracker tool for Dungeons & Dragons 5th Edition (D&D 5e).">
    <meta content="D&D Battle Tracker, D&D Combat Tracker, D&D Initiative Tracker, Dungeons and Dragons, 5e" name="keywords">
    <title>D&D Battle Tracker | D&D 5e Combat Tracker</title>
  </head>
  <body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root" class="dnd-battle-tracker"></div>
    <script>window.BUILD_TIME=<%= BUILD_TIME %></script>
  </body>
</html>
