name: CI/CD

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  testbuild:
    name: Test and Build
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v2
      with:
        node-version: '14.x'
    - name: Install Dependencies
      run: npm ci
    - name: Run Unit Tests
      run: npm run test:ci
    - name: Run Linter
      run: npm run lint
    - name: Run Build
      run: npm run build
    - name: Run Size Tests
      run: npm run size
    - name: Install Playwright Browsers
      run: npx playwright install --with-deps
    - name: Run E2E Tests
      run: npx playwright test
    - name: Upload E2E Test Results
      uses: actions/upload-artifact@v2
      if: always()
      with:
        name: playwright-report
        path: playwright-report/
        retention-days: 30
    - name: Upload Build Artefact
      uses: actions/upload-artifact@v2
      if: always()
      with:
        name: dnd-battle-tracker.html
        path: dist/dnd-battle-tracker.html
        retention-days: 30

  deploystage:
    name: Deploy to Staging
    runs-on: ubuntu-latest
    environment:
      name: staging
      url: https://dndbattletracker.com/stage/
    concurrency:
      group: staging
      cancel-in-progress: true
    needs: testbuild
    if: github.event_name == 'push'
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Download Build Artefact
        uses: actions/download-artifact@v3
        with:
          name: dnd-battle-tracker.html
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::341118543232:role/github-s3-access
          aws-region: eu-west-2
      - name: Deploy to Staging
        run: aws s3 sync . s3://dndbattletracker.com/stage/

  deployprodpreflight:
    name: Deploy to Production Preflight Checks
    runs-on: ubuntu-latest
    needs: deploystage
    if: github.event_name == 'push'
    outputs:
      versionchanged: ${{ steps.versioncheck.outputs.changed }}
    steps:
      - uses: actions/checkout@v2
      - name: Check if version has been updated
        id: versioncheck
        uses: EndBug/version-check@v1
        with:
          diff-search: true

  deployprod:
    name: Deploy to Production
    runs-on: ubuntu-latest
    environment:
      name: production
      url: https://dndbattletracker.com/
    concurrency:
      group: production
      cancel-in-progress: true
    needs: deployprodpreflight
    if: github.event_name == 'push' && needs.deployprodpreflight.outputs.versionchanged == 'true'
    permissions:
      id-token: write
      contents: read
    steps:
      - name: Download Build Artefact
        uses: actions/download-artifact@v3
        with:
          name: dnd-battle-tracker.html
      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v1
        with:
          role-to-assume: arn:aws:iam::341118543232:role/github-s3-access-production
          aws-region: eu-west-2
      - name: Deploy to Production
        run: aws s3 sync . s3://dndbattletracker.com/
